<link rel="stylesheet" href="../css/help.css">

<div class="helpContent">

<h1>DroneLink</h1>

<h2>Setup Guides</h2>
<a href="">Traditional sailing boat (WIP)</a>

<h2>References</h2>
<a href="pins.html">Pin Mappings</a>

<h2>Modules</h2>

<table>
{{#modules}}
<tr>
  <td><a href="{{name}}.html">{{name}}</a></td>
  <td>{{description}}</td>
</tr>
{{/modules}}
</table>


</div>
