<link rel="stylesheet" href="../css/help.css">

<div class="helpContent">

<div><a href="index.html">&lt; Help Index</a></div>

<h1>{{type}}</h1>
<p>Base class: <i><a href="{{inherits}}.html">{{inherits}}</a></i></p>
<p>{{&description}}</p>

{{#guide}}
<h2>Usage Guide</h2>
{{&guide}}
{{/guide}}

{{#config}}
<h2>Example Configuration</h2>
<pre>{{&config}}</pre>
{{/config}}

<h2>Subs (inputs)</h2>
<table>
  <tr>
    <th>Address</th>
    <th>Addr Address</th>
    <th>Name</th>
    <th>Type</th>
    <th>#</th>
    <th>Description</th>
  </tr>
{{#sub}}
  <tr>
    <td>{{address}}</td>
    <td>{{addrAddress}}</td>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{numValues}}</td>
    <td>{{&description}}</td>
  </tr>
{{/sub}}
</table>

<h2>Pubs (outputs / config)</h2>
<table>
  <tr>
    <th>Address</th>
    <th>Name</th>
    <th>Type</th>
    <th>#</th>
    <th>Description</th>
  </tr>
{{#pub}}
  <tr>
    <td>{{address}}</td>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{numValues}}</td>
    <td>{{&description}}</td>
  </tr>
{{/pub}}
</table>

</div>
