html {
  font-size:12px;
}

body {
  font-size: .875rem;
  background-color: #888;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.logo {
  position:absolute;
  left: 8px;
  bottom: 6px;
  margin:0;
  color:white;
  font-weight:bold;
  font-size: 1.6em;
  z-index:2000;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6)
}

.status {
  color:white;
}

.mainRow {
  height:100%;
}

main {
  padding-left:0 !important;
  padding-right:0 !important;
  position:relative;
  height:100%;
}

#leftPanel {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 400px;
   background: grey;
}

#rightPanel {
   position: absolute;
   right: 0;
   top: 0;
   bottom: 0;
   width: 400px;
   color:#fff;
   background: #242a30;
}
#panelDrag {
   position: absolute;
   left: -8px;
   top: 0;
   bottom: 0;
   width: 8px;
   cursor: ew-resize;
   background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
}

#map { height: calc(100vh); width: 100%; }

.navPadding {
  padding-top: 36px; /* Space for fixed navbar */
}

#nodeManager {
  padding: 8px 8px;
  overflow-y:auto;
  height:calc(100%);
}


.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib {
  display: none !important;
}

.navbar-brand {
 padding-top: .75rem;
 padding-bottom: .75rem;
 padding-left: 1em;
 font-size: 1.2rem;
}

.navbar .form-control {
 padding: .75rem 1rem;
 border-width: 0;
 border-radius: 0;
}

.form-control-dark {
 color: #fff;
 background-color: rgba(255, 255, 255, .1);
 border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
 border-color: transparent;
 box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#nodes {
  position:absolute;
  margin-left:8px;
  margin-top:8px;
  z-index:2000;
}

#nodes .nodeOverlay {
  background-color: rgba(255,255,255,0.8);
  min-width:120px;
  padding: 4px 4px;
  border-radius: 4px;
  margin-bottom:8px;
  cursor:pointer;
  font-weight:bold;
  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.4);
}

#nodes .nodeOverlay.focus {
  border-right: 8px solid #007bff;
  margin-right:-8px;
}

#nodes .nodeOverlay i {
  margin-left:0.5em;
}

#nodes .nodeOverlay .lastHeard {
  display:inline-block;
  margin-left: 4px;
  color: black;
  border-radius: 2px;
  background-color: white;
  padding: 0px 6px 2px 6px;
  font-weight:normal;
  font-size: 0.8em;
}

.widgets {
  margin-top: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 4px;
}

.widget {
  color: black;
  border-radius: 2px;
  background-color: white;
  padding: 2px 4px 2px 4px;
  font-weight:normal;
  font-size: 0.8em;
  text-align:center;
}

.widget.warning {
  background-color: #ffc107!important;
  box-shadow: 1px 1px 3px #000;
}

.widget.danger {
  background-color: #dc3545!important;
  box-shadow: 1px 1px 3px #000;
}

#nodes .nodeOverlay .widgets i {
  margin-right: 0.5em;
  margin-left:0;
}

.marker {
  background-image: radial-gradient(circle at center, rgba(0,255,0,0.8) 0, rgba(0,0,0,0) 100%);
  background-size: cover;
  width: 20px;
  height: 20px;
  text-align:center;
  font-size:14px;
  font-weight:normal;
  color:white;
  border-radius: 50%;
  cursor: arrow;
  border: 2px solid rgba(0,255,0,0.5);
  text-shadow: -1px -1px 3 #000;
  overflow:visible;
  white-space:nowrap;
}

.targetMarker {
  background-image: radial-gradient(circle at center, rgba(255,255,0,0.8) 0, rgba(0,0,0,0) 100%);
  background-size: cover;
  width: 20px;
  height: 20px;
  text-align:center;
  font-size:14px;
  font-weight:normal;
  color:white;
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid rgba(255,255,0,0.5); */
  text-shadow: -1px -1px 3 #000;
  overflow:visible;
  white-space:nowrap;
}

.targetMarker .updating {
  background-image: radial-gradient(circle at center, rgba(80,80,80,0.8) 0, rgba(0,0,0,0) 100%);
}
