

.Management .resetButton {
  margin-left:1em;
}

.Management .configButton {
  margin-left:1em;
}

.Management .mainButton {
  margin-left:1em;
}

.Management .uptime {
  background-color:white;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-bottom:0.5rem;
}

.Management .ipAddress {
  background-color:white;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-bottom:0.5rem;
}

.Management .macros {
  padding-left: 0.25rem;
}

.Management-modal .modal-dialog {
  width:70vw;
  max-width: 70vw;
}

.Management-viewer {
  max-height: 60vh;
  scroll-behavior: auto;
}

.Management-viewer .table {
  font-size:1em;
}