
.ConfigurationPanel {
  width: 100%;
  height: calc(100vh - 50px);
}

.ConfigurationPanel .fileBlock {
  margin-top: 8px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.filePane {

}

.filePane .title {
  color:white;
}

.filePane .nav {
  color:black;
  background-color: #ccc;
  padding: 4px 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.filePane .files {
  margin-top: 4px;
  background-color: #333;
  overflow-y:scroll;
  height: 15vh;
}

.filePane .directory {
  padding:2px 4px;
  cursor: pointer;
  user-select: none;
}

.filePane .directory .title {

}

.filePane .directory .children {
  margin-left:12px;
  border-left:1px solid #aaa;
  padding-left:8px;
}

.filePane .file {
  padding:2px 4px;
  cursor: pointer;
  user-select: none;
}

.filePane .file .title {

}

.filePane .file .size {

}

.filePane .file.selected {
  background-color: #5f5;
  color:black;
}

.ConfigurationPanel .editorBlock {
  margin-top: 8px;
}

.editorBlock .editorNav {
  color:black;
  background-color: #ccc;
  padding: 4px 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom:4px;
}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.editorBlock .editorNav.saving {
  background: -webkit-linear-gradient(
        left,
        #5f5 30%,
        #555 80%,
        #5f5 100%
    ) repeat;

    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.editorBlock .editorNav.saved {
  background-color: #5f5;
}

.editorBlock .editorNav.error {
  background-color: #f55;
}

.editorBlock .editorNav .title {
  font-size:1.2em;
  font-weight:bold;
}



.editorBlock .editor {
  min-height:400px;
  height:100%;
}
